@import url('https://fonts.googleapis.com/css?family=Roboto:300|Pattaya');


/* Collapsing Navbar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar .navbar-brand {
    color: #ffffff;
}


.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}


#logo {
    font-family: 'Pattaya', sans-serif;
    font-size: 2rem;
    color: #ffffff;

}

/* Footer */

footer {
    padding: 20px;
    background-color: #002d59;
    color: #ffffff;
}

.email_link a{
    color:#ffffff;
}

ul.social_media {
    list-style: none;
    padding-left: 0;
}

ul.social_media li {
    display: inline-block;
    padding-right: 20px;
}

ul.social_media li a {
    color: #ffffff;
}
